<?xml version="1.0"?>
<odoo>
    <!-- zy_address App Menu -->
    <menuitem id="zy_address_menu"
              name="中运物流-地址管理" web_icon="zhongyun_address,static/description/icon.png"/>

    <!-- Action to open the zy_address -->
    <record id="action_zy_address" model="ir.actions.act_window">
        <field name="name"> 中运物流-地址管理</field>
        <field name="res_model">zy.address</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Menu item to open the zy_address -->
    <menuitem 
            id="menu_zy_address"
            name="地址管理"
            action="action_zy_address"
            parent="zy_address_menu" 
            sequence="1"/>
</odoo>


